.form-type-simple-format-textfield,
.field--widget-text-simple-formatter {
  --sf-tray-bg-color: #ffffff;
  --sf-btn-bg-color: #000000;
  --sf-btn-bg-color--hover: #000000;
  --sf-btn-color: #ffffff;

  .simple-formatter-field-container {
    width: 50%;
    min-width: 25em;

    input {
      width: 100%;
      display: none;
    }

    &.raw-mode {
      input {
        display: inline-block;
      }

      .simple-editor-button:not(.simple-editor-button--toggle-source) {
        display: none;
      }

      .content-editable {
        display: none;
      }
    }
  }

  .simple-formatter-button-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 42px);
    background-color: var(--sf-tray-bg-color);
    padding-bottom: 0.1em;

    .simple-editor-button {
      display: block;
      /* stylelint-disable-next-line unit-blacklist */
      width: 30px;
      /* stylelint-disable-next-line unit-blacklist */
      height: 30px;

      &.simple-editor-button--toggle-source {
        grid-column-start: -2;
      }
    }

    .simple-editor-button sub {
      font-size: 0.8rem;
      bottom: 0;
      font-weight: 900;
    }
  }

  .content-editable {
    display: inline-block;
    width: 100%;
    padding: 0.3em 0.4em 0.3em 0.5em;
    box-sizing: border-box;
    /* stylelint-disable-next-line unit-blacklist */
    border: 1px solid #b8b8b8;
    background-color: #fcfcfa;

    &:focus {
      border-color: #68a3cf;
      /* stylelint-disable-next-line unit-blacklist */
      outline: 2px solid #c1e0ff;
      outline-offset: 0;
      color: #000000;
    }
  }
}

#block-claro-content,
.block-system-main-block {
  .simple-formatter-button-container {
    --sf-tray-bg-color: #f3f4f9;
    --sf-btn-bg-color: transparent;
    --sf-btn-bg-color--hover: #e6ecf8;
    --sf-btn-border-color: transparent;
    --sf-btn-border-color--hover: transparent;
    --sf-btn-color: #545560;
    --sf-btn-color--hover: #0036b1;

    .simple-editor-button {
      // display: inline-block;
      margin: 0.2rem 0; /* LTR */
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: var(--sf-btn-color);
      border: 1px solid var(--sf-btn-border-color);  /* 2 */
      border-radius: 2px;
      background-color: var(--sf-btn-bg-color);
      font-size: 1rem;
      font-weight: 500;
      line-height: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-font-smoothing: antialiased;  /* 3 */
      min-width: 30px;
      width: auto;

      &.simple-editor-button--bold {
        font-weight: 700;
      }

      &:hover {
        background-color: var(--sf-btn-bg-color--hover);
        border: 1px solid var(--sf-btn-border-color--hover);
        color: var(--sf-btn-color--hover);
      }
    }
  }

  .content-editable {
    padding: calc(0.75rem - 1px) calc(1rem - 1px);
    color: #222330;
    border: 1px solid #8e929c;
    border-radius: 0.125rem;
    background: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:active {
      border-color: #003cc5;
    }

    &:hover {
      border-color: #222330;
      box-shadow: inset 0 0 0 1px #222330;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
    }

    &:hover:focus {
      box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #222330;
    }

    &.error {
      border-width: 2px;
      border-color: #d72222;
    }

    &.error:hover {
      box-shadow: none;
    }

    &.error:hover:focus {
      box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
    }

    &[disabled] {
      color: #82828c;
      border-color: #bababf;
      background-color: #f2f2f3;
      box-shadow: none;
      /* https://stackoverflow.com/q/262158#answer-23511280 */
      -webkit-text-fill-color: #82828c;
    }

  }

  u {
    text-decoration: underline;
  }
}
